<form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
  <div class="p-fluid p-formgrid p-grid container conteiner ui-g">
    <div class="p-field p-col-12 p-md-12">
      <h1>{{title}}</h1>
    </div>

    <div class="p-field p-col-12 p-md-12">

      <label for="inputNome">Nome</label>
      <input formControlName="nome" id="inputNome" pInputText />
    </div>

    <div class="p-field p-col-12 p-md-12">
      <label for="inputEmail">Email</label>
      <input type="email" formControlName="email" id="inputEmail" placeholder="name@example.com" pInputText />
    </div>

    <div class="p-field p-col-12 p-md-12">
      <label for="inputPassword1">Senha</label>
      <input type="password" formControlName="senha" id="inputPassword1" pInputText>
    </div>

    <div class="p-field p-col-12 p-md-12">
      <div class="p-formgroup-inline">

        <div class="p-field">
          <button pButton pRipple type="submit" label="Salvar" icon="pi pi-plus"
            class="p-button-outlined p-button-success p-mr-2"></button>
        </div>

        <div class="p-field">
          <button pButton pRipple type="menu" icon="pi pi-trash" label="Cancelar"
            class="p-button-outlined p-button-danger p-mr-2" (click)="cancelar()"></button>
        </div>

        <div class="p-field">
          <button pButton pRipple type="reset" icon="pi pi-times-circle" label="Limpar"
            class="p-button-outlined p-button-secondary p-mr-2" (click)="clear()"></button>
        </div>

      </div>

    </div>
  </div>
</form>